[2018-09-06 11:55] vendig opened #1 "/bin/scan_alignment not found"
Hi. Congratulations on the tool. I installed the tool and at the moment trying to do some testing. I encountered a problem. I am not IT expert, therefore would be grateful for some additional help.
I am running it on Databrick and also on Mac computer and both times the same problem appeared.

The command line:
%sh
/databricks/python/bin/python /local_disk0/neu/neusomatic-master/neusomatic/python/

[2018-09-06 14:40] roger-liu-bina commented on #1
@vendig Have you run `build.sh` before running `preprocess.py`?

[2018-09-07 06:39] vendig commented on #1
Super, I run again build.sh and the problem was resolved. I am getting further error with first step.
Input is still the same as above but an error is different. There are no work.0 and count.bed directories after the command is run.

**Ouput:**
ERROR 2018-09-06 21:26:38,542 scan_alignments      No such file '/local_disk0/neu/neusomatic-master/neusomatic/work_train/work_tumor_without_q/work.0/coun

[2018-09-08 00:53] msahraeian commented on #1
@vendig I added a test example at https://github.com/bioinform/neusomatic#quick-test.
Would you please try that and share the log if it failed?
Please build again before test.

[2018-09-12 15:11] vendig commented on #1
Yeah. Test example ran successfully. Perfect! Thank you a lot.

[2018-09-12 23:16] #1 closed, assigned to msahraeian

[2018-09-15 16:50] vendig opened #8 "training - input, target not matching"
An error: RuntimeError: input and target shapes do not match: input [24 x 1], target [24] at /pytorch/aten/src/THCUNN/generic/SmoothL1Criterion.cu:12 was already reported by other people. For example:
https://discuss.pytorch.org/t/runtimeerror-multi-target-not-supported-newbie/10216/3

I am using pytorch version 0.4.1.

Input:
%sh
export PYTHONPATH="/databricks/python/local/lib/python2.7/site-pack

[2018-09-15 17:51] vendig commented on #8
Found out that this part in a loss function makes problems:

criterion_smoothl1(outputs_pos, var_pos_s[:, 1]) + 1

Maybe var_pos_s[:, 1]?

[2018-09-15 19:08] msahraeian commented on #8
@vendig please try to use Pytorch v0.3.1 as listed in the requirements. Currently the code is designed based on Pytorch v0.3.1 and only works with that version. I think there are several other compatibility issues as well if you use v0.4.1. In future, we try to extend the code to make it work with later Pyorch versions.

I would suggest to do a fresh miniconda installation; and then, try to follow

[2018-09-16 21:24] vendig commented on #8
I installed Pytorch v0.3.1 and training works now. Thank you.

[2018-09-18 23:30] #8 closed, assigned to nobody

[2018-09-19 20:38] roger-liu-bina opened #9 "Seqlib building problem"
[neusomatic_9_19.log](https://github.com/bioinform/neusomatic/files/2398667/neusomatic_9_19.log)

[2018-09-19 20:44] marghoob commented on #9
@roger-liu-bina can you add a couple more details about the problem?

[2018-09-21 11:50] vendig opened #10 "scan_alignment fails"
Hi. i am running dream challenge dataset 3 and scan_alignment fails. What could be an issue?
Thank you.

**input:**
%sh
export PYTHONPATH="/databricks/python/local/lib/python2.7/site-packages:$PYTHONPATH"  # this is just a hack, don't use this code.
cd /local_disk0/neu2/neusomatic-master/test/example
#Stand-alone NeuSomatic test
/usr/bin/python ../../neusomatic/python/preprocess.py \
	--mode call

[2018-09-21 15:16] roger-liu-bina commented on #10
@vendig Thanks for reporting. Can you share us the log like this `work_standalone/work_tumor_without_g/work.0/scan.err`

[2018-09-24 13:18] vendig commented on #10
**Output from work_standalone/work_tumor_without_g/work.0/scan.err:**

#../../neusomatic/bin/scan_alignments --ref /local_disk0/neu2/dream_dataset/chr19.fa -b /dbfs/mnt/shenli9/neu-vendi/chr19.tumor.bam -L work_standalone/work_tumor_without_q/region_2.bed --out_vcf_file work_standalone/work_tumor_without_q/work.2/candidates.vcf --out_count_file work_standalone/work_tumor_without_q/work.2/count.bed

[2018-09-24 14:32] roger-liu-bina commented on #10
You can use samtools -H to check the bam header. Several things to check is that the order and names in the bam have to match those in the reference. The bottom line is that you should use the same reference which was used for alignment.

[2018-09-25 22:47] AllenAkhaumere opened #11 "split_bed.py errors"
I'm having issues working with the split_bed source code.
raise NotImplementedError(help_str)
NotImplementedError: "sortBed" does not appear to be installed or on the path, so this method is disabled.  Please install a more recent version of BEDTools and re-import to use this method.
I installed the recent version of BEDTools but the problem persist. Any idea what the issues might be?

[2018-09-26 00:56] msahraeian commented on #11
@AllenAkhaumere happy to see your interest in NeuSomatic. This error usually happens when bedtools bin folder is not in your PATH. You can check that by `which sortBed`.
If it is missing from PATH you can export it as:
` export PATH="/PATH/TO/bedtools2/bin:$PATH"`.

I would recommend to use anaconda (or miniconda) as explained [here](https://github.com/bioinform/neusomatic#availability) to install

[2018-09-28 08:12] AllenAkhaumere commented on #11
OK

[2018-09-28 11:39] vendig commented on #10
Thank you a lot. Unfortunately, scan alignment still fails. Headers of reference and bam files are matching now. An error:

**Part of an error:**
ERROR 2018-09-28 11:18:52,602 run_scan_alignments (PoolWorker-4) Command '['../../neusomatic/bin/scan_alignments', '--ref', '/local_disk0/hg19%2FHomo_sapiens_assembly19_fromBroad.fasta', '-b', '/local_disk0/chr19.tumor.bam', '-L', 'work_standalone/work_t

[2018-09-28 12:59] msahraeian commented on #10
@vendig I guess there are still some discrepancies in your bam file. Would you please upload the header of your bam (using `samtools view -H chr19.tumor.bam`) and your reference .fai file. I would also suggest check your bam file using Picard ValidateSamFile, explained [here](https://software.broadinstitute.org/gatk/documentation/tooldocs/4.0.1.1/picard_sam_ValidateSamFile.php). For instance you c

[2018-09-28 12:59] #11 closed, assigned to nobody

[2018-09-28 14:52] roger-liu-bina commented on #10
@vendig the MD tag is needed to be able to proceed. Please run @msahraeian command first and see if this helps.

[2018-09-30 23:16] vendig commented on #10
Hi. I checked both bam files (tumor and normal) with picard tool. There was no error detected (snapshots attached). After adding MD tag and running files again, new error appeared:

ERROR 2018-09-28 17:33:46,177 prep_data_single_tabix (PoolWorker-26820) could not create iterator for region 'X:104318492-104318505'
ERROR 2018-09-28 17:33:46,177 prep_data_single_tabix (PoolWorker-26821) Traceback (mo

[2018-10-02 21:10] msahraeian commented on #10
@vendig It seems the previous error has happened duo to missing MD tags. So, we are almost there :)
For the new error, I tried to run your test case (Dream challenge stage 3 on chr19), but was not able to reproduce your error, and my run finished successfully.
Would you please make sure you have the right pysam version (0.14.1)?
Also, please make sure you delete the work folder  (work_standalone)

[2018-10-03 11:42] vendig commented on #10
Hi @msahraeian . This time I restricted the region_bed file to only chromosome 19. It works!!
During preprocessing still a warning popped up -
WARNING 2018-10-03 10:34:31,142 prepare_info_matrices_tabix Skip ['19', 58938658, 'T', 'TCTTTC', '723'] for low cov 2<5
WARNING 2018-10-03 10:34:32,590 prepare_info_matrices_tabix Skip ['19', 58700025, 'A', 'ATG', '813'] for low cov 2<5

This might be due t

[2018-10-03 16:04] vendig commented on #10
Please don't close an issue yet.

[2018-10-03 18:29] msahraeian commented on #10
@vendig  Sounds good. I still suggest to use pysam 0.14.1 to make sure about the compatibility issues.
BTW, those warnings are normal and you can ignore them.

[2018-10-04 09:19] vendig commented on #10
I tried as well to restrict the bed file to chr 19 and X. I changed the pysam version to 0.14.1.
Error appears like before, when bed file contained information about all chromosomes:

ERROR 2018-10-04 09:13:18,241 prep_data_single_tabix (PoolWorker-724) Traceback (most recent call last):
  File "/local_disk0/neu2/neusomatic-master/neusomatic/python/generate_dataset.py", line 574, in prep_data_sing

[2018-10-04 14:07] msahraeian commented on #10
@vendig can you restrict the tumor and normal bams you use to this region using `samtools view -h tumor.bam X:104318492-104318505|samtools view -bS > tumor_x.bam` and   `samtools view -h normal.bam X:104318492-104318505|samtools view -bS > normal_x.bam` and send me the outputs `tumor_x.bam` and `normal_x.bam`

[2018-10-05 09:12] vendig commented on #10
Hi. The above command line does not work on my samtools version (0.1.19). Unfortunately, I am not allowed to change the version at the moment.  If I understand correctly the header of .bam file should be changed to X: 104318492-104318505?

[2018-10-05 21:03] msahraeian commented on #10
@vendig Sorry it was my bad. The right command is `samtools view -h tumor.bam X:104318492-104318505|samtools view -bS - > tumor_x.bam` and `samtools view -h normal.bam X:104318492-104318505|samtools view -bS - > normal_x.bam ` and it should work with samtools version (0.1.19) too. You don't need to change the header. Please only send me the output bams.

In general, you need to have the packages l

[2018-10-08 08:22] vendig commented on #10
@msahraeian please find the link with the output bam files.
Link: https://drive.google.com/open?id=179_3VqqE27nQnOvbIMlkQDXE9AgWMUQK

[2018-10-08 15:50] joonlee3 opened #14 "scan_alignments failed! when using "run_test.sh""
Hi,

    I tried to run 'run_test.sh' to check if neusomatic works properly in my system. After installing the tool in my system and running the example code "run_test.sh", I've got the following error message. Would you please look into it? Thanks.

{0}: ./run_test.sh
INFO 2018-10-08 11:46:31,584 __main__             Namespace(dbsnp_to_filter=None, del_merge_min_af=0, del_min_af=0.05, ensemble_ts

[2018-10-08 18:17] msahraeian commented on #14
@joonlee3, happy to see your interest in NeuSomatic. The error suggests that the binary file `/site/ne/app/x86_64/neusomatic/v0.1.1/neusomatic/bin/scan_alignments` does not exist. Please make sure you have successfully built the binaries using `./build.sh`.

[2018-10-08 20:18] msahraeian commented on #10
@vendig Thanks. I think I fixed this bug in #15. Please pull the master branch and run again.

[2018-10-08 21:06] joonlee3 commented on #14
@msahraeian Thank you for the quick reply. Yes, that was my silly mistake. After correcting it, I reran neusomatic and got the following error message -

/site/ne/app/x86_64/neusomatic/v0.1.1/bin/scan_alignments: error while loading shared libraries: libmpi.so.40: cannot open shared object file: No such file or directory

Any suggestions/insights? Please let me know. Thank you.

Best,
Joon

[2018-10-08 21:25] roger-liu-bina commented on #14
@joonlee3 Thanks for reporting the issue. Can you run `ldd /site/ne/app/x86_64/neusomatic/v0.1.1/bin/scan_alignments`? and show us the output?

[2018-10-09 15:21] vendig commented on #10
It works perfectly! Thank you a lot.

[2018-10-10 00:45] joonlee3 commented on #14
@roger-liu-bina My colleague helped me resolve the issue. After fixing the problem. I ran neusomatic. Initially, it looked okay but shortly I've got another error message -
#On region chr12:? [6120762,6120910)
#Aligned read number: 106
terminate called after throwing an instance of 'std::out_of_range'
  what():  basic_string::substr: __pos (which is 18446744073709551518) > this->size() (which is 7

[2018-10-10 00:53] roger-liu-bina commented on #14
@joonlee3 This error usually means that you don't have MD tag in your alignment. Can you check you bam file for MD tag? See the required input part https://github.com/bioinform/neusomatic/blob/master/README.md
If that is the case, you just need to run

`samtools calmd -@ num_threads -b alignment.bam reference.fasta  > alignment.md.bam `
`samtools index alignment.md.bam`

[2018-10-14 21:22] vendig commented on #10
Hi. When finally running a whole genome dataset an error appears.
I am wondering whether is this a memory issue. I tried with a few cluster configurations and always  ended up with an error of scan alignment failed:

From scan.err:

*** Error in `../../neusomatic/bin/scan_alignments': munmap_chunk(): invalid pointer: 0x0000000003192a70 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so

[2018-10-15 04:22] roger-liu-bina commented on #10
@vendig I wonder which version are you running? We have some mem fix recently. Can you show us the commit id of your build?

[2018-10-15 05:06] msahraeian commented on #10
@vendig please also let us know how many threads you are using and what is the per thread memory you are requesting in your cluster?

[2018-10-15 07:48] vendig commented on #10
Hi. I am using the latest version. Every time the cluster is switched on, it automatically updates to the latest version (docker is already included as well as the fix for chromosome 19 and X.)

Specifications of instances. For all instances 500 Gb of SSD was allocated.

1.
r4.4xlarge - 122 Gb memory, 16 Cores, 4 DBU (Databrick unit, which is a unit of precessing capability per hour). I used 32 th

[2018-10-15 08:09] msahraeian commented on #10
@vendig Would you please make sure your bam files have MD tags (can be produced with the command I mentioned earlier)? and when you say it is stuck can you check the content of output folder and the latest sub-folder/file created inside that?

The total run-time depends on the coverage of alignment, parameters used, and number of threads. For me whole genome 50x data on 28 threads (with max memory

[2018-10-15 09:21] vendig commented on #10
Hi. I have to rerun it again, since I did not save the output folder. I was also searching a bit about the error and it might not even be connected with memory issue?

 It is interesting that in my case alignment scanning always fails only at the last batch of files which needs to be still scanned. If the error would be a memory issue, could it be that it fails always at the same step?

Yeah bam f

[2018-10-15 14:52] roger-liu-bina commented on #10
@vendig Right, it might not be a mem issue. You may actually find a bug. It is a public data? Will it possible for you to share your bam?

[2018-10-15 15:00] vendig commented on #10
Yeah, these are dream stage 3 datasets. Each bam file is of size 170 Gb. I have both bam files in amazon bucket. Let me know what would be the easiest way to share the files.

[2018-10-15 17:07] sugyun opened #16 "Bed file from my bam file"
Hi, I want to run my own bam files for variant calling.
And I have two questions.
1. How do I make bed file from my bam file? Do you have any recommand?  (ex bedtools bamtobed) which bam file (ref / normal / tumor) should I use?

2. If i use different bed file for calling, do I have to train the model again with different bed file?

Thanks!

[2018-10-15 18:56] vendig commented on #10
It failed again at the same step. Unfortunately, there was no "region.bed" inside failed "work" folder.
I can also share failed "work" folder. It seems to me that only this particular one failed. One interesting information -  scanning alignment of "work_tumor_without_q" was successful but  "work_tumor" failed.

I downloaded bam files of dream dataset 3 from the webpage:
https://console.cloud.goog

[2018-10-15 19:56] msahraeian commented on #16
@sugyun happy to see your interest in NeuSomatic.

1- The bed file will specify the region you want to call or train your network on. If you don't have specific preferences, you can use the whole-genome as your target region. You can obtain such bed file using your reference `.fai` index file:
[code]
2- It depends on your goal. In general if you train and call on the same region of same tumor/norm

[2018-10-15 20:38] msahraeian commented on #10
@vendig I have the dream dataset and I am trying to rerun to reproduce your error. One thing I suspect is that you have included all the decoy chromosomes in you region.bed and it may cause the problem (although it should not). Can you try to tun by including only primary chromosomes in your run. You can get that bed file using:
[code]
Meanwhile it would be great if you could share with us the fai

[2018-10-16 07:44] vendig commented on #10
Hi. I rerun it again with a bed file restricted only to primary chromosomes. It failed again, but this time already during "work_tumor_without_q" preprocessing. Please find the link to the "work" folder:

https://drive.google.com/drive/folders/1nbNWGxlHI1YbCre3TDMZS7oM7SMu75Cl?usp=sharing

Commands line used:
/databricks/python/bin/python ../../neusomatic/python/preprocess.py \
	--mode call \
	--r

[2018-10-16 07:58] msahraeian commented on #10
@vendig thanks. Would you please also share with me the failed work directory when you restrict to main chromosomes?

[2018-10-16 08:57] vendig commented on #10
@msahraeian unfortunately, the folder was not saved. If it is very much needed, I can rerun again.

[2018-10-16 09:26] msahraeian commented on #10
@vendig So, let me try running for the dataset first.

[2018-10-17 02:31] sugyun commented on #16
@msahraeian  Thank you for your quick reply! :> It works well. Thank you again.

[2018-10-17 18:17] msahraeian commented on #10
@vendig Thanks for catching this bug. I think we have fixed it in #18. It was happening because the regions pass the chromosome length by one base. Please pull the master branch and run again.

[2018-10-17 18:22] msahraeian commented on #10
@vendig and please build the binaries again.

[2018-10-18 01:25] sugyun opened #19 "ensemble.tsv error"
Hello.
When I try to make .tsv file for ensemble mode using SomaticSeq.Wrapper.sh, I encounter below error.
"""
This SomaticSeq.Wrapper.sh script is being obsolesced.
It is only here to maintain compatibility with previous versions.
You should look into run_parallel.py or somaticseq/run_somaticseq.py in the future.
This script simply runs the somaticseq/run_somaticseq.py script.

2018-10-18 10:05:

[2018-10-18 01:51] litaifang commented on #19
My guess is that modify_MuTect2.py script is expecting MuTect2.vcf file from GATK4. If it's from GATK3, this is the email I went to a previous user:

[2018-10-18 02:04] msahraeian commented on #19
@sugyun If you have access to docker, there is a dockerized solution available to run all individual tools and merge their output, documented at https://github.com/bioinform/neusomatic/tree/master/ensemble_docker_pipelines

[2018-10-18 07:28] sugyun commented on #19
@msahraeian Thank you for your reply. Your answer is very helpful! :>

[2018-10-18 14:27] #16 closed, assigned to nobody

[2018-10-19 15:31] vendig commented on #10
Hi. Scan_alignment goes through but unfortunately calling of call.py fails.

Input:
CUDA_VISIBLE_DEVICES= /databricks/python/bin/python ../../neusomatic/python/call.py \
		--candidates_tsv work_standalone/dataset/*/candidates*.tsv \
		--reference  /local_disk0/Homo_sapiens_assembly19.fasta \
		--out work_standalone \
		--checkpoint ../../neusomatic/models/NeuSomatic_v0.1.0_standalone_Dream3_70puri

[2018-10-19 19:52] msahraeian commented on #10
@vendig Please pull the latest commit and run call.py again. We have done some fixes and also more logs at #20.
Please also try to reduce number of threads if it still fails. I guess you may go out of memory.
If it failed again, send me the log and one of your larger tsv files.

[2018-10-19 21:32] vendig commented on #10
@msahraeian now fails already at dataloader.py step
RROR 2018-10-19 21:29:35,280 extract_info_tsv (PoolWorker-2) Traceback (most recent call last):
  File "/local_disk0/neu2/neusomatic-master/neusomatic/python/dataloader.py", line 101, in extract_info_tsv
    assert i + 1 == L
UnboundLocalError: local variable 'i' referenced before assignment

[2018-10-19 21:49] msahraeian commented on #10
@vendig yes, sorry this is the error I just introduced. It should be good now. Please pull again.

[2018-10-20 06:08] vendig commented on #10
Hi. Still not working and also log files can not be found. I don't think it is a memory issue, since in the first run only 10.000 candidates are loaded. In case of chromosome 19 the same amount and it went through. Here the first run freezes and it is not terminated or no errors are shown. Command is running but not doing anything. I did some analysis and the problem is here: function "call_varian

[2018-10-20 07:12] msahraeian commented on #10
@vendig The line you mentioned is for running the CNN network. Please pull the master branch agian, an run with `--max_load_candidates 10000 --num_threads 4`. If it failed please send me the printed logs. I just tested you `.tsv` file and it went through smoothly.

[2018-10-21 17:36] vendig commented on #10
Hi. I run the code with additional two commands and it did not go through till the end to produce VCF file. At least this time a process stopped. I could not find any log file as well.

Output:
INFO 2018-10-21 17:33:23,561 __main__             use_cuda: False
INFO 2018-10-21 17:33:23,561 call_neusomatic      -----------------Call Somatic Mutations--------------------
INFO 2018-10-21 17:33:23,576 c

[2018-10-21 18:38] vendig commented on #10
Interesting, that I am bumping into the same problem when running only chromosome 19, which worked just two weeks ago. Also test dataset does not go through anymore. If it works in your case, then I guess it must be a problem with our settings.

[2018-10-22 05:43] msahraeian commented on #10
@vendig yes the [test script](https://github.com/bioinform/neusomatic/blob/master/test/run_test.sh) works fine for me. If it fails for you it means that some of your settings may have problems (I guess your Pytorch library, you may try reinstall it).
You may also use NueSomatic Docker image for v0.1.2 for CPU-only runs. You can test docker as shown [here](https://github.com/bioinform/neusomatic#qu

[2018-10-22 13:43] vendig commented on #10
@msahraeian it was our problem. After installing conda, a different version of library started being  called. The issue is finally resolved. I am sorry for that. Unfortunately, docker can not be implemented on Databricks, therefore this is most probably the only way I can proceed. Thank you a lot.

[2018-10-23 07:56] jingmeng-bioinformatics opened #23 "RuntimeError: Expected object of type torch.DoubleTensor but found type torch.FloatTensor for argument #2 'weight'"
Hi, I am running quick test, I got the following error:

INFO 2018-10-23 18:40:01,715 __main__             Namespace(dbsnp_to_filter=None, del_merge_min_af=0, del_min_af=0.05, ensemble_tsv=None, good_ao=10, ins_merge_min_af=0, ins_min_af=0.05, long_read=False, matrix_base_pad=7, matrix_width=32, max_dp=40000, merge_r=0.5, min_ao=1, min_dp=5, min_ev_frac_per_col=0.06, min_mapq=10, mode='call', norm

[2018-10-23 19:04] msahraeian commented on #23
@jingmeng-bioinformatics happy to see your interest in NeuSomatic. This error usually happens when your pytorch version is wrong. Please make sure you have installed pytorch v0.3.1 as well as other python packages as instructed in https://github.com/bioinform/neusomatic

[2018-10-24 02:06] jingmeng-bioinformatics commented on #23
@msahraeian Thank you. I reinstalled the packages with conda as you suggest, and I can run neusomatic successfully.

[2018-10-26 23:30] vendig commented on #10
Hi. It might be a silly question but I am wondering why bam file header must completely match to the reference file header? In case i am interested only in real chromosomes, without any decoy chromosome and additionally i have a matching reference for real chromosome, but not decoy ones,  can I run files somehow through? Unfortunately, only bam files are provided without a reference. I have a matc

[2018-10-26 23:51] roger-liu-bina commented on #10
@vendig Thanks for raising the point. The major reason is to fool-proof. For say, if a user aligned against B37 but provided hg38 reference, this feature would immediately tell the user. This is kind of a good standard that we learned from GATK. Usually, you want to use the same reference that your fastq aligned to, wouldn't you?

[2018-10-27 00:10] vendig commented on #10
It is the problem in cases when public or restricted datasets' bam files are used and the complete matching reference is not provided. At the moment I am struggling with the dataset, which complete reference match can not be found. I can find a matching reference sequence for real chromosomes such as:

@SQ	SN:chr1	LN:247249719
@SQ	SN:chr2	LN:242951149

but unfortunately also some chromosome are ad

[2018-10-27 00:16] msahraeian commented on #10
@vendig As @roger-liu-bina mentioned for confident process we want to check for exact match between contigs by default. We try to accommodate optional handling of partially overlapped contigs across reference and bam, in near future. Meanwhile, can you share with me the header of your bam (using `samtools view -H alignment.bam`) if it is not private? I may be able to help you find the matching ref

[2018-10-27 06:31] vendig commented on #10
@msahraeian this is the header of the dataset:
https://drive.google.com/file/d/18qVYhX3qAisBhxbNTiFIKmQT7vaO1QxL/view

And the reference partially matching: https://www.ncbi.nlm.nih.gov/assembly/GCF_000001405.12/

[2018-10-27 07:22] msahraeian commented on #10
@vendig It is the hg18 reference. You can download the `.fasta` file from ftp://ftp.ncbi.nlm.nih.gov/1000genomes/ftp/technical/working/20101201_cg_NA12878/Homo_sapiens_assembly18.fasta
and index it as:
`samtools faidx Homo_sapiens_assembly18.fasta`
this has the same references in the same order as in your `.bam`

[2018-10-28 10:37] vendig commented on #10
@msahraeian thank you so much.

[2018-11-06 12:18] lmiroslaw opened #24 "CUDA example"
how to call train.py on a workstation with CUDA enabled?
I guess some of the parameters such as num_threads will not be relevant.

Could you provide an example ?

[2018-11-06 18:28] msahraeian commented on #24
Hi @lmiroslaw ,

As noted in README, by default the code will use all GPUs visible to it. You can specify that you want to use GPU (and which specific GPU devices in your machine) using `CUDA_VISIBLE_DEVICES`. For instance:
[code]
means you want to use the first 4 GPU devices in your node.

And if you want to only use CPU, you can set
[code]

`num_threads` only specify the number of cpu threads to

[2018-11-17 21:22] vendig commented on #10
Hi. After converting bam files of dream dataset (only chromosome 20) to fastq, realigning them and all other preprocessing steps, when running the file (only chromosome 20), the following error appears:

Input:
/usr/bin/python ../../neusomatic/python/preprocess.py \
	--mode call \
	--reference /local_disk0/human_g1k_v37_decoy.fasta \
	--region_bed /local_disk0/region_20.bed \
	--tumor_bam /local_d

[2018-11-17 21:40] msahraeian commented on #10
@vendig I guess that might be because indelrealigner has changed the cigar string but has not update the MD tags. So, I think you should do `samtools calmd -@ num_threads -b alignment.bam reference.fasta  > alignment.md.bam ` for your bam files to add correct MD tags to reads.

[2018-11-20 11:56] lmiroslaw commented on #24
Thanks  for the hint.

Now, I am trying to determine if the CPU or GPU run was successfully executed. However in log files I don't see any reference to "We use X GPUs".

Could you update this line:
`if torch.cuda.device_count() > 1:
        logger.info("We use {} GPUs!".format(torch.cuda.device_count()))
`
with
`if torch.cuda.device_count() > 1:
        logger.info("We use {} GPUs!".format(torch.c

[2018-11-20 14:58] msahraeian commented on #24
@lmiroslaw We already print a line to reflect this. If GPU is used, we will print `use_cuda: True` and if not it says `use_cuda: False`. Then the line you noted will mention how many GPU devices are being used if we are in GPU mode.

[2018-11-22 17:29] vendig commented on #10
Hi. Yeah, I added MD tags before indel realignment step in order to remove errors of validating before indel realigned bam files. Unfortunately, too early added MD tags leaded to the error what(): basic_string::substr: __pos (which is 70) > this->size() (which is 31). I omitted early step of adding MD tags and added it as a final step. I could finally reproduce the result. Thank you.

[2018-11-22 17:44] msahraeian commented on #10
@vendig Happy to see you finally got it working. Please let us know if you have any further questions. Please feel free to close this issue if you believe it is resolved.

[2018-12-06 21:09] mingyi-wang opened #28 "fails in run_test.sh for "No such file 'work_standalone/work_tumor_without_q/work.0/count.bed''"
Hi,
I tried to run run_test.sh but it fails in the ERROR as following:
ERROR 2018-12-06 16:04:59,978 scan_alignments      No such file 'work_standalone/work_tumor_without_q/work.0/count.bed'
Traceback (most recent call last):
  File "/mnt/nfs/gigantor/ifs/DCEG/Resources/Tools/neusomatic/neusomatic/neusomatic/python/scan_alignments.py", line 120, in scan_alignments
    outputs = pool.map_async(run_

[2018-12-06 21:17] #23 closed, assigned to nobody

[2018-12-06 21:17] #10 closed, assigned to nobody

[2018-12-06 21:45] msahraeian commented on #28
@zyywmy happy to see your interest in NeuSomatic. Would you please run the latest release and try again? If it does not work, please send me the log again. You can also try the docker version, by running `docker_test.sh`

[2019-01-11 12:08] ozlemmuslu commented on #23
If you change the file neusomatic/neusomatic/python/network.py in line 67 from

`x = self.pool1(F.relu(self.bn1(self.conv1(x))))`

to

`x = self.pool1(F.relu(self.bn1(self.conv1(x.float()))))`

this exception is not raised in torch version 1.0.0

[2019-01-26 00:43] gunjanbaid opened #29 "Supplementary materials for NeuSomatic paper"
Hello! Where can I find the supplementary materials for the NeuSomatic paper? They do not seem to be part of the PDF here: https://doi.org/10.1101/39380

[2019-01-26 01:21] msahraeian commented on #29
Hi, for some reason the link is not shown there but you can find it at:

https://www.biorxiv.org/content/biorxiv/suppl/2018/09/04/393801.DC2/393801-1.pdf

[2019-01-28 02:04] gunjanbaid commented on #29
Thank you!

[2019-01-28 02:04] #29 closed, assigned to nobody

[2019-03-01 07:08] msahraeian commented on #9
Seems like a bug in their Linux GCC.

[2019-03-01 07:08] #9 closed, assigned to msahraeian, roger-liu-bina

[2019-03-01 07:08] #14 closed, assigned to nobody

[2019-03-01 07:09] #24 closed, assigned to nobody

[2019-03-01 07:09] #19 closed, assigned to nobody

[2019-03-01 07:10] #28 closed, assigned to nobody

[2019-03-08 06:47] kiranchari opened #32 "scan_alignments using up all remaining disk space (>100GB) and fails"
Hi,

I am trying to run preprocess.py in call mode on a whole genome sample. The target regions .bed file I used is resources/hg19.bed. The work_call directory uses up a lot of space until it runs out of all space of the storage device ( > 100GB). Is this expected and how much space is the scan_alignments step expected to consume? Thank you.

[2019-03-08 09:00] msahraeian commented on #32
@kiranchari happy to see your interest in NeuSomatic.
How big is your input bam file?
For me, a 100X WGS data may need ~80G of total storage. (the tumor and normal bams are ~160G each).

[2019-03-08 09:01] kiranchari commented on #32
thanks for your response @msahraeian

My tumor and normal bams are about 90GB and 100GB respectively

[2019-03-08 09:05] msahraeian commented on #32
@kiranchari
So I guess for this bam size, you should not need >100GB for work_call directory.
Can you share with me the `work_call/work_tumor/work.0/scan.err` log file?

[2019-03-08 09:23] kiranchari commented on #32
I deleted the working directory because it got too large, but I've pasted the error output from the console. Looked like this error occurred in all the split_regions

ERROR 2019-03-08 13:54:23,395 run_scan_alignments (ForkPoolWorker-6) Command '['../bin/scan_alignments', '--ref', 'GRCh37.fa', '-b', 'Tumor.bam', '-L', 'neusomatic_wdir/work_tumor/region_55.bed', '--out_vcf_file', 'neusomatic_wdir/wo

[2019-03-08 17:37] msahraeian commented on #32
@kiranchari  Can you try running it on a small region and share with me the `work_tumor/work.0/scan.err ` file?

[2019-03-09 08:34] kiranchari commented on #32
@msahraeian it runs with no errors when I run it on a small region

[2019-03-09 09:09] msahraeian commented on #32
@kiranchari For now, I guess if you don'y have sufficient disk space, you may run the whole process (preprocess+call+postprocess) in multiple batches (like per chromosome) and remove intermediate files after each run. BTW, please make sure you have `.bam.bai` index files in the same folder as your tumor and normal bams.

[2019-03-10 15:53] kiranchari commented on #32
ok, shall I close this issue?

[2019-03-10 15:56] kiranchari opened #33 "RuntimeError: The size of tensor a (26) must match the size of tensor b (3) at non-singleton dimension 0 (call.py)"
I'm getting this RunTimeError when I run call.py in call mode. I am using python3.7, torch==1.0.1 and torchvision==0.2.2 as listed in the README file.

Here is the traceback:

Traceback (most recent call last):
  File "call.py", line 595, in <module>
    raise e
  File "call.py", line 590, in <module>
    use_cuda)
  File "call.py", line 518, in call_neusomatic
    net, vartype_classes, call_loade

[2019-03-10 19:22] #32 closed, assigned to nobody

[2019-03-10 19:24] msahraeian commented on #33
@kiranchari As listed in the README the torchvision version should be 0.2.1. I suspect that is the reason. Can you try downgrading that?

[2019-03-10 19:27] kiranchari commented on #33
downgrading torchvision to 0.2.1 worked, thanks.

[2019-03-10 19:27] #33 closed, assigned to nobody

[2019-03-18 14:39] hdetering opened #34 "Invalid VCF format [postprocess.py]"
Hiya,

this may be just a minor bug but it throws off tools in downstream analysis (e.g. GATK, vcfR).
When `postprocess.py` generated the final VCF after calling, it outputs a format that is not exactly standard-compliant:
[code]
I had problems with the following elements:
1. INFO fields are not declared in the header
2. trailing semicolon in INFO column
3. not exactly an error, but why do `DP`, `

[2019-04-03 08:38] kiranchari commented on #33
Hi @msahraeian, I have a question regarding something in the paper. Would you please explain what you mean by "extrapolated precision" when benchmarking the real datasets? It sounds like the definition is tied to the output of other callers? Thanks!

[2019-04-03 19:48] msahraeian commented on #33
@kiranchari In the absence of real cancer samples with comprehensive ground truth, we are limited to measure sensitivity, and we are unable to accurately measure precision. So, we went one step further and also reported "extrapolated precision" as the percentage of predicted somatic mutations that have been called by at least two stand-alone methods, or have been reported as verified somatic mutat

[2019-04-04 10:08] ozlemmuslu opened #36 "ValueError: Image must be a numpy error"
Hi,

I am trying to run NeuSomatic with CUDA, I have all the right versions of libraries installed, C++ binaries created, but when I run run_test.sh I get the following error:

  File "/code/neusomatic/0.2.0/neusomatic/python/call.py", line 590, in <module>
    use_cuda)
  File "/code/neusomatic/0.2.0/neusomatic/python/call.py", line 518, in call_neusomatic
    net, vartype_classes, call_loader, o

[2019-04-04 20:32] msahraeian commented on #36
@ozlemmuslu I am happy to see your interest in NeuSomatic. Would you please share with me your conda environment info using `conda list` command?

[2019-05-03 17:09] smalysz1 opened #37 "Ensemble method error in preprocess.py & generate_dataset.py"
Hello!

I just had a quick question based on the error below, which I am getting when I try to use the ensemble mode of neusomatic. (I have had a good experience using the stand-alone method so first off I just want to say thanks for the great tool!)

Error:
    line 1350, in extract_ensemble:   s = ensemble_data[:, np.array(i_s)]
    IndexError: arrays used as indices must be of integer (or boole

[2019-05-03 22:04] msahraeian commented on #37
@smalysz1 Hi Stephanie, I am happy to see your interest in NeuSomatic.
The `i_s` variable has indices of columns, and it is defined based on the first element in `enumerate(...)`, so it should be integer (for example you can see that in lines 1294-1323).
I guess there should be something wrong with your `ensemble_ann.tsv` file. Would you please share with me the first few lines of your `ensemble_a

[2019-05-04 14:21] smalysz1 commented on #37
Hi, thanks for your fast reply! I was thinking something similar but it was hard for me to tell from the ensemble_ann.tsv file. I've attached the first few lines, please let me know if you see anything that could be causing that error. Thank you again!

[ensemble_ann_sub.txt](https://github.com/bioinform/neusomatic/files/3144461/ensemble_ann_sub.txt)

[2019-05-06 19:39] msahraeian commented on #37
@smalysz1
Please pull master and run again.
This issue should have been is fixed in #38.

[2019-05-06 19:39] msahraeian commented on #36
@ozlemmuslu
If you still have this problem, please pull master and run again.
This issue should have been is fixed in #38.

[2019-05-06 19:52] msahraeian commented on #34
@hdetering Thanks for your comment and sorry for the late reply.
I fixed the VCF format in #38 and #39 . Please pull master and try again.
In some use cases it may be easier to have some information in both `INFO` and `FORMAT` fields.
Regarding your question about `QUAL` it is the Phred-scaled of `SCORE`.
Best,
Mohammad

[2019-05-07 07:56] ozlemmuslu commented on #36
Sorry, I missed your question. It works now, thanks!

[2019-05-07 07:56] #36 closed, assigned to nobody

[2019-05-13 19:33] smalysz1 commented on #37
Thank you so much! The fix has helped and I can run without errors; I appreciate all your help!

[2019-05-13 19:33] #37 closed, assigned to nobody

[2019-06-04 09:03] yakneens opened #40 "Getting compilation error with latest codebase on Mac OS with gcc/g++ 9"
[code]

[2019-06-04 19:51] #34 closed, assigned to nobody

[2019-06-06 15:42] msahraeian commented on #40
@llevar I am happy to see your interest in NeuSomatic. Currently, NeuSomatic supports g++ 5.4.0. We plan to adapt it for later g++ versions in future releases.

[2019-06-20 09:41] ghost opened #42 "Regarding the necessity of normal.bam file"
I am currently working on a tumor bulk RNA-seq data set in order to identify somatic mutations. I have the BAM file for the tumor data set but I do not have the BAM file for a normal sample. Is there any way to use NeuSomatic without a normal BAM file?

[2019-06-22 08:32] amit21AIT commented on #42
Ya same issue .

[2019-06-22 08:51] msahraeian commented on #42
Thanks for your interest in NeuSomatic.
Currently, NeuSomatic can only support tumor-normal somatic mutation detection. We plan to extend it to tumor-only mode in near future.

[2019-06-22 10:08] amit21AIT commented on #42
Can you suggest any other tool or technique for somatic mutation detection using tumor - only mode because i don't have the normal.bam file

[2019-06-24 18:16] msahraeian commented on #42
@amit21AIT I guess methods like MuTect2 and VarDict can perform tumor-only calling, although they may have difficulty in filtering some FPs and germline calls without normal match.

[2019-07-16 02:38] ggoodstudydaydayup opened #45 "How could I use different NT samples to train some times，and then call variants"
Hi,
    I want to use the different NT samples to trains some times. I'm not sure could the train_work can be saved in one file and then used to call variants.
    Thanks in advance.
Best wishes.

[2019-07-16 05:16] msahraeian commented on #45
@ggoodstudydaydayup Happy to see your interest in NeuSomatic.
Yes, NeuSomatic can handle multiple sample training. What you need to do is to run preprocessing step for each sample separately. Then in the training process where you should provide `--candidates_tsv` you can include all the candidate files from all samples. Here is the detail:

1-Preprocess for each sample. For example for sample 1:

[2019-07-16 06:58] ggoodstudydaydayup commented on #45
Thanks

[2019-07-23 15:19] #45 closed, assigned to nobody

[2019-08-30 12:14] SchKri opened #47 "preprocess unable to find candidates for training"
I'm trying to train a network using a set of exome data from the Dream Challenge. I create a bed file as suggested in [issue 16](https://github.com/bioinform/neusomatic/issues/16) and followed your recommendation for distributed data processing on a cluster. Unfortunately there are no candidates found in the preprocessing. Are there certain specifications for the vcf_truth file? I tried adding Var

[2019-08-30 20:15] msahraeian commented on #47
@SchKri Thanks for your interest in NeuSomatic. From you `sub-job.txt` it seems that your candidates tsv files are empty. You can verify that by `wc -l work/work_*/dataset/work.*/candidates*.tsv `.
Can you check if the `work/work_0/work_tumor/filtered_candidates.tsv`  is empty? If it was, please share with me one of `scan.err` files under `work/work_0/work_tumor/work.*/scan.err`.

[2019-08-31 12:41] kokyriakidis opened #48 "Model training"
Should I train a model every time I run a new project? Don’t you have a single model for Illumina reads like Deepvariant?

[2019-09-01 02:05] msahraeian commented on #48
@kokyriakidis I am happy to see your interest in NeuSomatic.
As noted in the [README](https://github.com/bioinform/neusomatic#trained-network-models), similar to DeepVariant, we provide a set of pre-trained NeuSomatic network models for general purpose usage. The SEQC models (like `NeuSomatic_v0.1.4_standalone_SEQC-WGS-Spike.pth` for standalone mode and `NeuSomatic_v0.1.4_ensemble_SEQC-WGS-Spike.p

[2019-09-05 07:50] SchKri commented on #47
Thanks for your reply. The candidates*.tsv files were empty. The problem was a corrupted (empty) bam file. I fixed that and now it works.

[2019-09-05 07:50] #47 closed, assigned to nobody

[2019-10-28 09:00] jingmeng-bioinformatics opened #49 "undefined symbol: _ZN3c107Warning4warnENS_14SourceLocationENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE"
I ran neusomatic train.py on a remote server, but got the following errors:

Traceback (most recent call last):
  File "neusomatic-master/neusomatic/python/train.py", line 18, in <module>
    from torchvision import transforms
  File "/public/home/**/.conda/envs/**/lib/python3.6/site-packages/torchvision/__init__.py", line 1, in <module>
    from torchvision import models
  File "/public/home/**/.

[2019-10-28 22:53] msahraeian commented on #49
@jingmeng-bioinformatics thanks for your interest in NeuSomatic.
It seems that the error is in the `from torchvision import transforms` line, Which means that your installation of torchvision (and possibly pytorch) has some problem.
Would you please make sure you have the right versions of all python packages installed as listed in the README.

[2019-10-30 07:18] jingmeng-bioinformatics commented on #49
Thank you. I have removed and re-installed torchvision, and the problem is solved.

[2019-11-01 01:36] yueyangtime opened #50 "truth somatic variant .vcf file"
hi:
where can I get the `truth somatic variant .vcf file`?

sincerely, Yueyang.

[2019-11-01 02:14] #49 closed, assigned to nobody

[2019-11-01 02:16] msahraeian commented on #50
@yueyangtime hi, would you please explain for which sample you are interested in the truth vcf file?

[2019-11-01 02:35] yueyangtime commented on #50
Hi,
For training mode, `truth somatic variant .vcf file` is needed, is this `.vcf` document related to the sample to be analyzed? or is this a public file that can be downloaded from the website？

thanks
sincerely, Yueyang.

[2019-11-01 04:05] msahraeian commented on #50
@yueyangtime If you want to train NeuSomatic on your sample of interest, you should have a truth `.vcf` for that sample. We have not released the truth files for our trainings as they are not enough to perform training and you need to have other information like the tumor and normal alignment `.bam` files for the training samples.
We provide a set of trained models used in our paper [here](https:/

[2019-11-04 00:13] jingmeng-bioinformatics opened #51 "It takes several days to preprocess BAM files for testing"
Hi Sayed, I started preprocessing the whole genome bam files (tumor and matched normal) for testing on my local computer (--number_threads 1) four days ago, and it has not finished now. Why it takes such long time to preprocess the whole genome bam files?

[2019-11-04 02:32] msahraeian commented on #51
@jingmeng-bioinformatics It depends on your sample coverages. For me, I usually run on a 28-threads cluster and it will take a couple of hours. So, If you run on 1 thread it may take a few days.

[2019-11-05 00:44] jingmeng-bioinformatics commented on #51
Ok, thank you for your reply.

[2019-11-06 11:49] jingmeng-bioinformatics opened #52 "OSError: [Errno 12] Cannot allocate memory"
ERROR 2019-11-06 16:21:08,570 __main__             Aborting!
ERROR 2019-11-06 16:21:08,598 __main__             preprocess.py failure on arguments: Namespace(dbsnp_to_filter=None, del_merge_min_af=0, del_min_af=0.05, ensemble_tsv=None, filter_duplicate=False, first_do_without_qual=False, good_ao=10, ins_merge_min_af=0, ins_min_af=0.05, long_read=False, matrix_base_pad=7, matrix_width=32, max_dp=10

[2019-11-10 09:17] msahraeian commented on #52
@jingmeng-bioinformatics I guess your machine is not powerful enough for a WG analysis. What you can do is to split the WG region to smaller chunks (like 1M bases) and run neusomatic on each separately. You can split your region file using

[code]

[2019-11-10 23:40] jingmeng-bioinformatics commented on #52
Ok, thanks for your reply. I will give it a try

[2019-11-24 04:43] cbiitbian opened #53 "failed at the last step"
example sample ran well, but when run with a pair of real data set, neusomatic failed at the last step with error:
### NeuSomatic stand-alone FAILED: Files ../example/work_standalone/NeuSomatic_standalone.vcf and ../NeuSomatic_standalone.vcf Are Different! ###
### NeuSomatic ensemble FAILED: Files ../example/work_ensemble/NeuSomatic_ensemble.vcf and ../NeuSomatic_ensemble.vcf Are Different! ###
Pl

[2019-11-24 05:35] cbiitbian commented on #53
I see what is wrong here. The last step of comparison is for the testing sample to make sure testing process run successfully.
Can I substitute the input files with my sample sets including normal bam, tumor bam, bed and reference genome and consider the result vcf at /example/work_standalone/NeuSomatic_standalone.vcf  and /example/work_ensemble/NeuSomatic_ensemble.vcf are the variant results for

[2019-11-24 08:17] msahraeian commented on #53
@cbiitbian happy to see your interest in NeuSomatic. As you pointed out the test script will only succeed if it is used on test data. For your real application, you should follow the instructions in README. The inputs/models/parameters to use may need modification depending on your data.
Particularly,
1- I would recommend to use newer trained models (NeuSomatic_v0.1.4_standalone_SEQC-WGS-Spike.pth

[2019-11-26 04:32] cbiitbian commented on #53
Hi, Msahraeian
Thanks for the quick response.
I followed your instruction and successfully rerun a standalone test of chr1 of my sample data, but I have a couple of questions I’d like to get your help.

  1.  I basically use the same code as the testing script, but substitute the ref genome, bed, tumor bam and normal bam, I use the NeuSomatic_v0.1.4_standalone_SEQC-WGS-Spike.pth as pretrained mode

[2019-11-26 05:51] msahraeian commented on #53
@cbiitbian
1. Yes, it should be the right steps to go. You may also set the number of threads based on your resources. Another important note is that on the test script I used min AF of 5%. If it is too high for your sample, you can modify the parameters. For our new [SEQC-II robustness analysis paper](https://doi.org/10.1101/667261), we use the following setting:  `--scan_maf 0.01 --min_mapq 10 -

[2019-11-28 06:01] cbiitbian commented on #53
Hi,
Another question, I am running WES (Whole Exome Sequencing) sample, do you have trained model for that or I can use WGS model? I saw you have a older model for WEX, “NeuSomatic_v0.1.0_standalone_WEX_100purity.pth”, is that a WES model I can use?
Thanks.
Xiaopeng

From: msahraeian <notifications@github.com>
Sent: Tuesday, November 26, 2019 12:51 AM
To: bioinform/neusomatic <neusomatic@noreply.g

[2019-11-28 23:52] msahraeian commented on #53
@cbiitbian The `NeuSomatic_v0.1.0_standalone_WEX_100purity.pth` is the model we used in original paper for WES. We have also applied our WGS trained model `NeuSomatic_v0.1.4_standalone_SEQC-WGS-Spike.pth` on WES data in the SEQC paper and it seems to perform good.

[2019-12-01 17:52] cbiitbian commented on #53
Thanks,
I am trying both model based on your information. The process terminated due to error. I could not figure out how to fix it. I am attaching the error log for the run and a log file suggested by the process log:
Please check error log at work_standalone/work_tumor/work.212/scan.err
Could you please have a look and give me some advice on how to fix it?
Thanks very much.
Xiaopeng Bian

From:

[2019-12-01 21:27] msahraeian commented on #53
@cbiitbian I cannot see the attachment. Would you please attach the `scan.err` file again?

[2019-12-02 03:23] cbiitbian commented on #53
Here is all that in the scan.err file:
terminate called after throwing an instance of 'std::ios_base::failure[abi:cxx11]'
  what():  basic_ios::clear: iostream error

From: msahraeian <notifications@github.com>
Sent: Sunday, December 1, 2019 4:28 PM
To: bioinform/neusomatic <neusomatic@noreply.github.com>
Cc: Bian, Xiaopeng (NIH/NCI) [E] <bianxi@mail.nih.gov>; Mention <mention@noreply.github.com>

[2019-12-02 08:01] msahraeian commented on #53
@cbiitbian it is not clear to me. Can you make sure you alignment `.bam` files have index files `.bam.bai` with them. Also please make sure the reference file used to align reads matches the one you use here. If it didn't help, can you restrict your bam to a smaller region and send it to me (if the code fails on the restricted bam).

[2019-12-03 20:39] cbiitbian commented on #53
Hi,
I am testing what you suggested and will let you know.
In the mean time I got another error for another sample, would you please help me out.
ERROR 2019-12-03 05:39:01,890 run_scan_alignments (ForkPoolWorker-14) Please check error log at work_standalone/work_tumor/work.148/scan.err
Thanks.
Xiaopeng

From: msahraeian <notifications@github.com>
Sent: Monday, December 2, 2019 3:01 AM
To: bioinfor

[2019-12-03 23:05] cbiitbian commented on #53
Hi,
I did the test you suggested, I used the problematic region bed to restricted the bam to a small region without change anything else, it worked well without any error.
I’ll use the full bed file and try again, hope it is just a random error, but I do see this error in a lot of samples, though some samples ran successfully, they are all very similar samples.
Thanks.
Xiaopeng Bian

From: msahrae

[2019-12-03 23:26] msahraeian commented on #53
@cbiitbian if it is a public sample, it would be good if you could share with me the whole bam file and the command line parameters you use and I will take a look.

[2019-12-06 04:38] cbiitbian commented on #53
I am sorry this is not a public data set.
We are comparing performance of 5 variant caller, including Neusomatic
Most of the samples ran successfully, however, the results have no overlap with the results of other 4 callers which have pretty good overlap among them. I am worried that I may not have run the process correctly? I am attaching the scripts I used, which was basically modified from the

[2019-12-07 08:19] msahraeian commented on #53
@cbiitbian I think there should be sth wrong with how you run NeuSomatic. I cannot see your attachments. Would you please send them again. You can attach them to the Github message.

[2019-12-08 04:06] cbiitbian commented on #53
Hi,
When I compared with results from two other centers, there are good overlaps, so I think there maybe something wrong with the data from the other center. The only thing is that Neusomatic called more variants than other callers. I am attaching my run scripts and a VCFcomparator somparison result for your reference.
My scripts were named with .sh, which maybe blocked by your system last time, s

[2019-12-09 08:47] msahraeian commented on #53
@cbiitbian are you using only PASS calls during evaluation? And if your sample is WEX you should intersect the final vcf with the exons bed.

[2019-12-20 19:03] cbiitbian commented on #53
Hi,
The Neusomatic  output default to the same folder as the bam file folder. Can I redirect to another directory?
Thanks.
Xiaopeng

From: msahraeian <notifications@github.com>
Sent: Monday, December 2, 2019 3:01 AM
To: bioinform/neusomatic <neusomatic@noreply.github.com>
Cc: Bian, Xiaopeng (NIH/NCI) [E] <bianxi@mail.nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [bioinform/neusomatic

[2019-12-20 20:36] msahraeian commented on #53
@cbiitbian you don't need to output to the same directory. For each step there is an input parameter that specifies the output location. for `preprocess.py` you can specify the work folder with `--work`, for `call.py` you can specify the output folder that with `--out`, and for `postprocess.py` you can specify the output vcf using `--output_vcf ` and the work folder with `--work`.

[2019-12-24 02:04] cbiitbian commented on #53
Hi,
I ran Neusomatic on some Hapmap samples but the results still showed very low overlap with the “ground truth” they provided. These samples were aligned to hg38 genome, does that have to be the same with the trained model? I am very anxious to get some idea why the overlap is so low?
Thanks.
Xiaopeng

From: msahraeian <notifications@github.com>
Sent: Friday, December 20, 2019 3:37 PM
To: bioinf

[2019-12-24 02:08] cbiitbian commented on #53
For hapmap samples, which trained model do you suggest I should use, any particular attention, like the parameters, I should pay to?
Thanks.
Xiaopeng

From: msahraeian <notifications@github.com>
Sent: Friday, December 20, 2019 3:37 PM
To: bioinform/neusomatic <neusomatic@noreply.github.com>
Cc: Bian, Xiaopeng (NIH/NCI) [E] <bianxi@mail.nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [b

[2019-12-25 07:48] msahraeian commented on #53
@cbiitbian I think there is something wrong here. Are you using HapMap samples as tumor-normal pairs? As HapMap data is public, it would be great if you could share with me the ID of samples you are using as well as your neusomatic run scripts and I can make sure you are using the right settings.

[2019-12-27 06:29] cbiitbian commented on #53
Hi,
Sorry, I don’t have the hapmap id of the files because the data were re-processed and renamed. But I found that the “ground truth” provided contains a lot of duplicate after annotation, so I removed the duplicate and re-compared them, the overlap got much better but still low and the false positive is quite high. I attached my run script and one of the vcfcomparator results FYI. Maybe can mani

[2020-01-31 13:50] apptest20 opened #54 "Train.py Runtime Error"
Very new to NeuSomatic and get Runtime error from train.py. Helps are appreciated

CMD:  train.py --candidates_tsv  dataset/*/candidates*.tsv --out out --num_threads 10 --batch_size 100
OUTPUT:
INFO 2020-01-31 07:34:34,124 train_neusomatic     PyTorch Version: 1.1.0
INFO 2020-01-31 07:34:34,124 train_neusomatic     Torchvision Version: 0.3.0
INFO 2020-01-31 07:34:34,165 train_neusomatic     GPU tr

[2020-01-31 23:38] msahraeian commented on #54
@apptest20 It seems that the model you are training does not match your input.
If you want to train NeuSomatic in ensemble mode you need to use option `--ensemble` and your candidate.tsv files should also have been prepared in the ensemble mode.

Here it seems that the candidates have 119 channels (so are prepared in ensemble mode), so you need to use `--ensemble` command line option when running

[2020-02-02 13:09] apptest20 commented on #54
Thanks msahraeian.

On Fri, Jan 31, 2020 at 6:38 PM msahraeian <notifications@github.com> wrote:

[2020-02-02 13:09] #54 closed, assigned to nobody

[2020-02-04 19:42] GodloveD opened #55 "AssertionError on fast_file.fetch()"
I'm trying to run a the following command:

[code]

And it is giving me the error messages below.  I'm assuming this is because the data that I'm using are not yielding any results and the fasta files are not being created?  But maybe it is something totally different.  Could someone comment?

It also might be useful to know that this is running using [this container from DockerHub](https://hub.do

[2020-02-05 01:46] msahraeian commented on #55
@GodloveD Happy to see your interest in NeuSomatic. What is the reference fasta you are using, here?

[2020-02-05 01:49] msahraeian commented on #55
Also, can you check whether on you `truth_vcf` file, you have small letters in REF or ALT fields?

[2020-02-05 03:51] GodloveD commented on #55
Thanks for the speedy reply @msahraeian!  I'm actually a staff scientist and I'm working to help debug this on behalf of another scientist.  The reference that we are using is `hg38.fa`.  I will need to ask where it was obtained.  As for the `truth_vcf` file, the REF field appears to contain nothing but dots (.) while the ALT field does have some lowercase letters as you suspected.  Is this an iss

[2020-02-05 07:12] msahraeian commented on #55
@GodloveD Yes, that's the issue. In the truth VCF you should have the actual reference and alternative bases in the REF and ALT columns. You need to fix the VCF. For instance:
- SNV:
`chr1	100	.	T	A`
- DEL:
`chr2	200	.	TA	T`
- INS:
`chr3	300	.	A	AC`

[2020-02-05 14:49] GodloveD commented on #55
Thanks again @msahraeian.  We've changed all of the lowercase letters in the REF and ALT columns to upper case and it seems to be running now.

I was (obviously) mistaken.  The dots appear in the ID field not the REF field.

FWIW, we are running this analysis on whole exome sequencing data instead of whole genome sequencing data.

Thanks again for the help!  😺

[2020-02-05 14:49] #55 closed, assigned to nobody

[2020-02-21 17:53] GodloveD opened #56 "support for singularity?"
Hi there!

From what I can gather, the `prepare_callers-scripts.sh` command and associated scripts [here](https://github.com/bioinform/neusomatic/tree/master/ensemble_docker_pipelines) will only work with Docker.  Do I have that right?  Are there any plans to develop a similar pipeline using [Singularity](https://github.com/sylabs/singularity)?

Looks like the somaticseq project has already create

[2020-02-28 08:17] msahraeian commented on #56
@GodloveD
I added Singularity support in #58 .
Please pull master, and check the [README](https://github.com/bioinform/neusomatic/tree/master/ensemble_docker_pipelines). You can enable Singularity instead of Docker if you use `--singularity`argument.

BTW, please note that we have used the following 5 callers in the latest [pre-trained ensemble models](https://github.com/bioinform/neusomatic#train

[2020-02-28 17:13] GodloveD commented on #56
Thanks @msahraeian !

[2020-02-28 17:13] #56 closed, assigned to nobody

[2020-04-04 01:36] gianfilippo opened #60 "Error: unable to open file or unable to determine types for file synthetic.vcf"
Hi,

I am trying to run neusomatic in ensemble mode, but got stuck after the SomaticSeq.Wrapper.sh step and at the "preprocess.py --mode train" step.
I get the following error
Error: unable to open file or unable to determine types for file synthetic.vcf

the synthetic.vcf is generated by processing the Ensemble.s*.tsv files generated by SomaticSeq.Wrapper.sh, following the details on your reposit

[2020-04-04 21:14] msahraeian commented on #60
@gianfilippo happy to see your interest in NeuSomatic.
I think there are some confusions here. `synthetic.vcf` that is needed for training and the ensemble tsv file that is generated by `SomaticSeq.Wrapper.sh` are two separate things.

1. If you don't have a training data with known truth VCF: as noted [here](https://github.com/bioinform/neusomatic#creating-training-data) to generate training data

[2020-04-05 01:46] gianfilippo commented on #60
thanks. you are right, clearly got confused.....I fixed it.
The VCF is ok. I just sent you a few lines.
Now, I rerun it, but got another error at preprocess stage. Below I am reporting the relevant part of the error message. It is failing at find_records. What else am I doing wrong ?
Just in case, here is how I joined snvs and indels
bcftools concat -a -o synthetic.vcf.gz -O z synthetic_snvs.vcf.g

[2020-04-05 04:15] msahraeian commented on #60
@gianfilippo would you please make sure that in the `truth.vcf` file all the bases in REF and ALT fields are capital. Also, please make sure you are using the same reference file, you have used for alignment.

[2020-04-05 04:31] gianfilippo commented on #60
Hi, I generated the truth.vcf  with BAMSurgeon and the reference file is then same

[2020-04-05 08:58] msahraeian commented on #60
@gianfilippo I added more logging for failed asserts in a new branch called `logging_for_asserts`. Would you please checkout this branch as follows, rerun your code and send me your log?
`cd neusomatic`
`git pull`
`git checkout logging_for_asserts`

[2020-04-06 17:17] gianfilippo commented on #60
Hi, thanks for the help!
I can now see from the file that your guess was correct. I found some bases in lower case. Below is the error (part of it). I am not sure this is described in BamSurgeon, but from the following open issue (https://github.com/adamewing/bamsurgeon/issues/137), it seems that "the bases added for the length resolution are always at the end of the read and are in lower case."
I

[2020-04-06 18:38] msahraeian commented on #60
@gianfilippo I think we should assume those bases are correct synthetic truth variants. So, we should keep them to have valid training.
I fixed this in the code, so all bases will be capitalized internally. Please pull `logging_for_asserts` branch again and retry.

[2020-04-06 21:58] gianfilippo commented on #60
the preprocess step now works, but the train step fails with the error below. What do you think ?

INFO 2020-04-06 17:24:37,805 make_weights_for_balanced_classes count length classes: [(0, 3846), (1, 1753), (2, 52), (3, 121)]
INFO 2020-04-06 17:24:37,805 make_weights_for_balanced_classes weight length classes: [(0, 0.08341995841995842), (1, 0.17407311157311156), (2, 0.24774774774774774), (3, 0.244

[2020-04-06 22:00] msahraeian commented on #60
@gianfilippo sounds good.
To train or call in the ensemble mode you should use `--ensemble` argument in `train.py` and `call.py`.

[2020-04-06 22:03] gianfilippo commented on #60
I am using the --ensemble already (see below the command line).
python $NEUSOMATIC/train.py --candidates_tsv $DIR/dataset/*/candidates*.tsv --out $DIR --num_threads $Ncores --batch_size 100 --ensemble

[2020-04-06 22:07] msahraeian commented on #60
@gianfilippo did you also use `--ensemble_tsv` when you ran `preprocess.py` ?

[2020-04-06 22:08] gianfilippo commented on #60
yes

[2020-04-06 22:13] gianfilippo commented on #60
below is the preprocess call
python $NEUSOMATIC/preprocess.py --mode train --reference hg38.fa --region_bed $INTERVALFILE --tumor_bam syntheticTumor.bam --normal_bam syntheticNormal.bam --work $DIR --ensemble_tsv ensemble_ann.tsv --truth_vcf synthetic.vcf.gz --min_mapq 10 --num_threads 20 --scan_alignments_binary $NEUSOMATIC/neusomatic/bin/scan_alignments

[2020-04-06 22:41] msahraeian commented on #60
@gianfilippo Can you share with me a few lines from `ensemble_ann.tsv` and a few lines from one of `candidates.tsv` files?

[2020-04-06 22:57] gianfilippo commented on #60
the zipped files (few lines) are attached. For the candidates.tsv I attached the lines from the work.0 dir. I had a typo in the command line, now corrected

[Archive.zip](https://github.com/bioinform/neusomatic/files/4441178/Archive.zip)

[2020-04-06 23:04] msahraeian commented on #60
@gianfilippo The `candidates.tsv` file does not seem like the one that as produced in ensemble mode. Can you rerurn `preprocess.py` in ensemble mode in a new (fresh) output folder?

[2020-04-07 00:48] gianfilippo commented on #60
it is working now, going through the iterations. I will let you know if it completes. Thanks!

[2020-04-07 16:24] chrissype opened #61 "Multi-patient training"
I would like to run a large scale training task over thousands of labelled patient BAMs. Is this currently supported with neusomatic in any way, or will I have to write some custom code to recombine the generated training data?

[2020-04-07 18:35] msahraeian commented on #61
@chrissype happy to see your interest in NeuSomatic.
Yes, you can train on multiple samples as follows:
1. For each sample run `preprocess.py`. This will you give you per sample candidate TSV files in the following paths: `sample_i_output/dataset/work.*/candidates*.tsv`
2. Use all the candidate TSV files from multiple samples together to buil a NeuSomatic model using `train.py`. So, as `--candidat

[2020-04-07 18:46] chrissype commented on #61
That's amazing, many thanks!

[2020-04-08 03:29] gianfilippo commented on #60
the network completed training. Below are the last few output lines
INFO 2020-04-07 01:44:34,805 train_neusomatic     epoch: 999, iter:   57925, lr: 0.0001, loss: 0.20255
INFO 2020-04-07 01:44:39,472 train_neusomatic     epoch: 999, iter:   57939, lr: 0.0001, loss: 0.22420
INFO 2020-04-07 01:44:45,971 train_neusomatic     epoch: 1000, iter:   57955, lr: 0.0001, loss: 0.19262
INFO 2020-04-07 01:44:

[2020-04-08 20:23] msahraeian commented on #60
@gianfilippo from the loss, it seems that the training has not converged  as expected. Can you send me the training log.

[2020-04-10 05:28] gianfilippo commented on #60
Hi, the file is attached. I think there may be something wrong in my synthetic.bam and vcfs.
[dsq-task.TRAIN-9242965_0-c17n02.txt](https://github.com/bioinform/neusomatic/files/4460030/dsq-task.TRAIN-9242965_0-c17n02.txt)

[2020-04-10 06:06] msahraeian commented on #60
@gianfilippo
- One thing I can observe is that you don't have enough spiked variants in your tumor sample (~2000). We normally, expect >50K spiked mutations (for SEQC model we used 2M spikes across 20 WGS samples ). This can be in one sample or across multiple samples. If you have a WES data you can spike with 1-2 mutations per Kbp frequency.

- To monitor the progress of the training it is good t

[2020-04-10 14:02] gianfilippo commented on #60
thanks for the suggestion. I have WES. I used a modified version of somaticseq/bamsurgeon script. The modifications simply allow  the script to run on the Slurm Workload Manager. I required 100000 snvs, 20000 indels, 1000 svs, and ended up with 3179 SNVs and 609 INDELs

[2020-04-10 17:53] msahraeian commented on #60
@gianfilippo I think that is unexpected for the somaticseq/bamsurgeon. There should be sth wrong over there. Can you share your run script for bamsurgeon?

[2020-04-12 04:52] gianfilippo commented on #60
Hi, the script is attached. I ran it on 4 threads and the attached file works on thread 1. The others are the same. I also included the mergeFiles script.
[BamSimulator.2020-04-10_18-19-06_702757150.cmd.txt](https://github.com/bioinform/neusomatic/files/4465856/BamSimulator.2020-04-10_18-19-06_702757150.cmd.txt)
[mergeFiles.2020-04-10_18-19-06_702757150.cmd.txt](https://github.com/bioinform/neusom

[2020-04-16 22:40] litaifang commented on #60
Can you try the following somaticseq command, to see what's in the bam files for your snv/indel positions?

If you have the latest SomaticSeq v3.4.0 installed, `somatic_vcf2tsv.py` is in your path. Otherwise, you can directly point to `PATH/TO/somaticseq/somaticseq/somatic_vcf2tsv.py` for the following command:
[code]
You may also add caller vcf files as input above. All of the following are optio

[2020-04-16 23:59] msahraeian commented on #60
@gianfilippo Also, can you make sure you use `--selector ` argument when you run `BamSimulator_multiThreads.sh` and use you WES `.bed` file there. I suspect you are spiking 100K SNVs in WGS instead of WES, so you get ~3K SNVs.

[2020-04-17 03:14] gianfilippo commented on #60
Hi, thanks for the suggestions. The output from somatic_vcf2tsv.py for both snvs and indels, using also the callers vcf files are attached.
You are right, I guess I did not notice the --selector argument and have not used it. I will rerun it.
[OUTPUT.INDEL.PLUS.tsv.txt](https://github.com/bioinform/neusomatic/files/4490732/OUTPUT.INDEL.PLUS.tsv.txt)
[OUTPUT.SNV.PLUS.tsv.txt](https://github.com/bio

[2020-04-17 03:47] litaifang commented on #60
Looking at the two tsv.txt files, it's not obvious to me why the four callers are all "negative" for all the variant positions.
Column #6, 7, 10, and 14 are are MuTect(2), VarScan2, VarDict, and Strelka, and they're 0 all the way through.
Column #90 and #91 are forward and reverse variant-supporting reads and there seem to be variant-supporting reads in these BAM files, so it seems the synthetic V

[2020-04-17 03:57] gianfilippo commented on #60
if you think the synthetic VCF file and the BAM files are ok, there must be something wrong in the way i set up the script using the callers. Likely some stupid mistake, at this point. I will let you know. Thanks for your help!

[2020-04-20 01:29] gianfilippo commented on #60
Hi, it seems that now, using "--selector", BamSimulator_multiThreads.sh does not complete and I get core dumps and errors. I tried on 4 and 20 threads. Now I am rerunning it on a single thread just to see if I still get the same errors.

[2020-04-20 17:56] GolfDeltaFox opened #62 "How to access CGC files?"
Hi and thank you very much for the wonderful work you provided with NeuSomatic and SEQC-II.
I would like to use SEQC-II for benchmarking, without having to realign or run the costly pipelines. I noticed that all the files I am interested in are present on [this page](https://sites.google.com/view/seqc2/home/data-analysis/somatic-mutation-results-on-seven-bridges-genomics).
Although when I click an

[2020-04-20 19:01] litaifang commented on #60
@gianfilippo , make sure the synthetic_*.vcf files and the caller output vcf files are all obtained from the same pair of BAM files.

[2020-04-22 00:10] msahraeian commented on #62
@GolfDeltaFox Happy to see your interest in our work. The CGC links are not public yet. We are working to make it public ASAP. I will inform you once it is confirmed.

[2020-05-14 00:36] vymao opened #64 "Test fail"
Hi,
I just cloned the repository and tried running the test. I am getting this error:

[code]

Do you know why this is?

[2020-05-14 00:43] vymao commented on #64
Never mind, the build works now.

[2020-05-14 00:43] #64 closed, assigned to nobody

[2020-06-09 01:35] bingdiao-zbw opened #65 "testing pretrined model"
Hello, I tested my data and dream_challenge data with all the pre-trained model than you provided. The test results show that the recall rate is very low, less than 50%, I do not know the reason. can you provide me with the test data to verify the model, thank you

[2020-06-09 04:35] msahraeian commented on #65
@bingdiao-zbw The dream_challenge data should give you similar performance as what we presented in the paper. It may be the case that you are using wrong alignments, or parameters. Would you please explain the details of your dream_challenge test case, the alignment, and the preprocess/call parameters you use?

[2020-06-09 05:51] bingdiao-zbw commented on #65
Thank you for your reply. The parameters are the same as mentioned in the run_test.sh. I found another problem when I run the preprocess.py. a lot of warnings appeared in the file scan.err.
#Aligned read number: 146
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warning: no MD tag!
Warn

[2020-06-15 19:09] msahraeian commented on #65
@bingdiao-zbw In the paper, we used the following parameters for Dream data: `--scan_maf 0.01 --min_mapq 10 --snp_min_af 0.03 --snp_min_bq 20 --snp_min_ao 3 --ins_min_af 0.02 --del_min_af 0.02`. As you may see in the paper, we get 96% F1 score for SNVs. I suspect that your input bam file has some discrepancies. Can you share with me small region of the bam, along with the header?

[2020-06-16 06:13] bingdiao-zbw commented on #65
1 @HD     VN:1.4  GO:none SO:coordinate
      2 @SQ     SN:chr1 LN:249250621    AS:hg19_random.nix
      3 @SQ     SN:chr2 LN:243199373    AS:hg19_random.nix
      4 @SQ     SN:chr3 LN:198022430    AS:hg19_random.nix
      5 @SQ     SN:chr4 LN:191154276    AS:hg19_random.nix
      6 @SQ     SN:chr5 LN:180915260    AS:hg19_random.nix
      7 @SQ     SN:chr6 LN:171115067    AS:hg19_random.nix

[2020-06-16 06:16] bingdiao-zbw commented on #65
Thank you for your reply. The information is the small region of the bam of the dream_challenge set5

[2020-06-18 23:36] msahraeian commented on #65
@bingdiao-zbw thanks for sharing this. First of all, this is a different dataset compared to what we use in the paper. This one is Set5, but in the paper we used Dream challenge dataset for stages 3 and 4. But, regardless of this point, I don't expect low recall for this dataset. What I am suspecting now is that the aligner used for this dataset is not "BWA-MEM" (maybe "NovoAlign" or "BWA"). That

[2020-06-19 00:51] bingdiao-zbw commented on #65
thank you very much. I will try according to your suggestion

[2020-10-27 08:46] LeiHaoa opened #66 "which validate script you use?"
Hi,
 I wonder which validate script you use?
 I evaluated different validate methods like hap.py/som.py and just compare [chorm-pos-alt-ref]，this two functions showed different results.
 So, I am curious about which validate script you use to test detect results and truth file and get recall/precision??

Thanks!

[2020-10-28 01:27] ghost opened #67 "/bin/scan_alignments Not Found"
Hi , I met "OSError: File not found: ../bin/scan_alignments" when I ran run_test.sh

Is this file missed in the source code?

[2020-10-28 04:21] msahraeian commented on #67
Hi @SongboWangGit  You should run `build.sh` and it will create the `scan_alignments` for you at `neusomatic/bin/scan_alignments`. You should use the path to this binary with the `--scan_alignments_binary` argument as in [here](https://github.com/bioinform/neusomatic/blob/master/test/run_test.sh).

[2020-10-28 04:27] msahraeian commented on #66
Hi @LeiHaoa ,
I think [hap.py](https://github.com/Illumina/hap.py) can give you precision and recall.
I usually use either `hap.py` or [VarSim](https://github.com/bioinform/varsim), which you can run it as:
[code]

[2020-10-29 17:32] LeiHaoa commented on #66
thanks very much!

[2020-10-29 17:32] #66 closed, assigned to nobody

[2020-12-16 04:01] JunhakAhn opened #68 "Ensemble mode issue"
Hi. I tried to run ensemble mode neusomatic.
Since there was no 'SomaticSeq.Wrapper.sh' on 'https://github.com/bioinform/somaticseq/blob/master/SomaticSeq.Wrapper.sh',
I ran 'somaticseq_parallel.py' using recommended command on 'https://github.com/bioinform/somaticseq/' and got 'Ensemble.sSNV.tsv'

However, when I tried to run 'preprocess.py' of  NeuSomatic with Ensemble mode using 'Ensemble.sSNV.

[2020-12-16 04:43] msahraeian commented on #68
@JunhakAhn Thanks for your interest in NeuSomatic.

1. I guess you are running `somaticseq_parallel.py` in single sample mode (tumor-only). But, you need to run it in tumor-normal paired mode. You can find the example command [here](https://github.com/bioinform/somaticseq#run-somaticseq-with-an-example-command).

2. You need both of `Ensemble.sSNV.tsv` and `Ensemble.sINDEL.tsv`. If you have them r

[2021-01-10 16:29] ZekunYin opened #69 "How to produce synthetic training data with different tumor purity and normal contamination ratio?"
Hi,
Wonderful work! I think this is one of the most impressive works in the field of somatic mutation calling. I'm very interested in it. And I'd like to reproduce some evaluation results mentioned in your paper. But now I've problem in producing synthetic training data with different tumor purity and normal contamination ratio. It seems that this [link](https://github.com/bioinform/somaticseq/tre

[2021-01-12 03:28] msahraeian commented on #69
@ZekunYin Thanks for your interest in NeuSomatic. This [link](https://github.com/bioinform/somaticseq/tree/master/utilities/dockered_pipelines/bamSimulator) shows how you can spike mutations in a normal bam to generate a synthetic tumor bam with desired AFs. Once you have the simulated tumor, you can mix tumor and normal bams with different rations to generate mixed tumors/normals with different p

[2021-01-12 06:38] ZekunYin commented on #69
That's very helpful! Thanks so much!

[2021-01-12 06:38] #69 closed, assigned to nobody

[2021-03-14 04:18] chloezhu opened #70 "The meaning of the input parameters"
Hi there. I am not so sure about some of the parameters as I pass to preprocess.py , call.py and postprocess.py functions, and I could not find a document describing what they are. I am new in this field and could you kindly provide a brief description of  all the parameters in the function? Typically, does *_ao mean number of ALT allele observed?  Thanks.

Kind regards,
Tianyu

[2021-03-30 10:40] #70 closed, assigned to nobody

[2021-07-02 20:27] BlinkPSAhad opened #75 "Run preprocess.py on Colab"
Hello, I'm new in the field of bioinformatics and my thesis will be about Neusomatic and the work it can do.
The first step that needs to be accomplished is to preprocess the datasets that are available here.
May you guide me on how to run it on Google Colab ? I'd truly appreciate it

[2021-09-02 10:14] shiying-sxu opened #77 "Exception: scan_alignments failed!"
terminate called after throwing an instance of 'std::runtime_error'

what(): cannot find index file for GRCh38.fa

[2021-11-25 15:44] WeiweiBian opened #78 "adapt for ultra-deep sequencing data"
Hi,

I try to adapt your model for my deep-targeted sequencing data(> 100,000X depth) for somatic mutation calling. I noticed that the default read depth is identified as 100 in the proprocess.py.
https://github.com/bioinform/neusomatic/blob/master/neusomatic/python/preprocess.py#L243

I wonder whether this depth could be modified to a larger number for our deep sequencing data and whether our dat

[2022-01-19 05:36] kiranchari opened #79 "training using bamsurgeon on multiple samples"
Hi,

I generated a training set comprising multiple samples using the method suggested in the README (using somaticseq's docker pipeline for bamsurgeon): https://github.com/bioinform/neusomatic#creating-training-data

After training Neusomatic on this dataset, I do not get the expected performance on an external test sample independent of the training set -  I am not sure where the issue is. I hav

[2022-02-04 21:28] ldcato commented on #42
Just wondering if there was an update from the developers on when an extension to tumor-only mode may be available?

[2022-04-13 03:34] leedchou opened #80 "How to deal with multiallelic variants?"
Hi, @msahraeian

I am wondering  how did you deal with those multiallelic variants. If there is a site on genome with 3 or more alternate variant alleles meets the conditions (eg. min_af), Should I keep all these alleles or a major allele?

Sincerely

[2022-05-14 14:50] wangjiangyuan opened #81 "How to get the vaildation tsv?"
Hi,
I got the truth_vcf . I want to train the data using the truth vcf by 5-fold-cross-validation analysis, and I got the dataset that including many files by 'process.py'. However I don't know how to get the vaildation tsv. Could you help me?
Thanks,
Jiangyuan

[2022-05-19 22:15] msahraeian commented on #81
Hi @wangjiangyuan
once you generate the candidates tsv files in train mode, you can use part of that for train and part for validation purpose. You can also run the preprocess separately for train and validation on different regions.

[2022-06-28 14:57] atharva-bhagwat opened #82 "Error when running build.sh"
**Error log:**

[code]

[2022-06-28 17:23] msahraeian commented on #82
@atharva-bhagwat
I think that is because of you gcc version. Please modify [this line](https://github.com/bioinform/neusomatic/blob/797c266518960db7bda16a5afb57e4287a67947b/neusomatic/include/Interval.hpp#L41) to
`inline auto coverage(const std::vector<Interval>& invs) -> std::vector<typename Interval::Depth> {`
and build again.

[2022-06-28 17:42] atharva-bhagwat commented on #82
Thanks! The issue is resolved.

[2022-06-28 17:42] #82 closed, assigned to nobody

[2022-07-26 01:17] baoyl818 opened #83 "Fail in installing step"
Hi, friend

when I install the software, it errors as this :

    Scanning dependencies of target seqan
    [  5%] Creating directories for 'seqan'
    [ 10%] Performing download step (git clone) for 'seqan'
    Cloning into 'seqan'...
    error: RPC failed; result=18, HTTP code = 200
    fatal: The remote end hung up unexpectedly
    fatal: early EOF
    fatal: index-pack failed
    Cloning into

[2022-07-27 14:24] emucaki opened #84 "Zero coverage SNVs and their relation to deletions"
We have set up Neusomatic using the pre-built 'general purpose' training network models and believe we have it running properly. Most of the somatic mutations called can be confirmed visually through IGV.

However, we found that very small proportion of the called variants (~1%) have no rare allele at all (AO=0), despite passing QC. The variant is not seen through IGV, nor is it within any of the

[2022-07-27 16:59] msahraeian commented on #84
Hi @emucaki
Thanks for your comment. Can you send me a small bam file (maybe by restricting that to 50bps around this location) so that I can check this issue. BTW, if you want to use the pre-trained model, I would recommend to use one of the SEQC trained models listed in the README.

[2022-07-27 17:08] emucaki commented on #84
Thank you for the quick response. I will need to get permission to send the sample BAM file, so it may be a few days before I can do so.

We used the "NeuSomatic_v0.1.0_ensemble_WEX_100purity.pth" model as we are working with exome data. Would you recommend that we use one of the SEQC WGS ones?

[2022-07-27 17:16] msahraeian commented on #84
@emucaki Thanks. I think the SEQC models should work better even for the WES data. I would recommend to give it a try.

[2022-07-28 16:03] emucaki commented on #84
The problem I described seems to have been an issue specific to the "NeuSomatic_v0.1.0_ensemble_WEX_100purity.pth" model. I've repeated the process with the "NeuSomatic_v0.1.4_ensemble_SEQC-WGS-Spike.pth" model with the same data and these "zero rare allele" SNVs have disappeared from the VCF. I see other signs that the variants being called are of better quality overall (e.g. fewer duplicate muta

[2022-07-28 16:03] #84 closed, assigned to nobody

[2022-07-29 16:30] emucaki commented on #84
Quick addendum, there are still "zero rare allele" mutations but they are all appropriately listed as the indels called in the original somatic program.

[2022-11-22 06:13] LeiHaoa opened #85 "RuntimeError: cuDNN error: CUDNN_STATUS_MAPPING_ERROR"
Hi,
When I run NeuSomatic, I got the error:
[code]
I install NeuSomatic under the instruction in README.
 pytorch version: pytorch=1.1.0 torchvision=0.3.0 cudatoolkit=9.0

do you have any suggestions?
                             Thanks!

[2022-11-22 06:39] #85 closed, assigned to nobody

[2022-11-22 06:42] LeiHaoa commented on #85
The reason is that I use 3090, it needs cuda11
https://discuss.pytorch.org/t/cudnn-status-mapping-error-using-conv2d/136675
[code]
works for me